---
---
<header>
  <a href="/" class="logo">Early <em>Brief</em></a>
  <nav>
    <a href="/ressources/">Ressources</a>
    <a href="/offre/">Offre</a>
    <a href="/a-propos/">À propos</a>
    <a href="/contact/">Contact</a>
  </nav>
</header>
